body{
  background-color: black;
  color: white;
  padding-top:170px;
}
h1{
  font-size: 55px;
  margin-top: 0;
  margin-left:0;
  display: inline-block;
}
.solo{
  color: darkblue;
}
.max{
  color: darkred;
}
.section{
  position:fixed;
  top:0;
  right: 0;
  left: 0;
  background-color: black;
}